# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
.env
.env.*